<% layout('layouts/boilerplate') %>
   <h1>ALL CAMPGROUNDS</h1>
   <div>
      <a href="/campgrounds/create">Add Campground</a>
   </div>
   <ul>
      <% for (let c of campgrounds) { %>
         <li> 
            <a href="campgrounds/<%= c.id %>"><%= c.name %></a> 
         </li>
      <% } %>
   </ul>
